/* generic tags */
a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
}
a, button {
  cursor: pointer;
}
body, html {
    padding: 0;
    margin: 0;
    color: #222222;
    font-family: verdana;
    font-size: 3vw;
    color: rgba(44, 62, 80, 1.0);
}
@media (min-width: 768px) {
  body, html {
    font-size: 23.04px;
  }
}
hr {
    height: 1px;
    border: none;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
    margin: 2.5em 0;
}

/* generic classes */
.red {
    color: rgba(231, 76, 60,1.0);
}

/* header */
#top {
    background-color: rgba(44, 62, 80, 0.8);
    color: rgba(236, 240, 241,1.0);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 30px rgba(52, 73, 94, 1.0);
}
#logo {
    width: 25%;
    margin: 0 auto;
}
#title {
  margin: 0.5em 0;
  font-size: 3em;
}
#down {
    box-sizing: border-box;
    padding: 0.75em;
    font-size: 1.25em;
    text-align: center;
    background-color: transparent;
    color: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 0.5em;
    display: block;
    margin: 0 auto;
}
#down:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#down:focus {
    outline: none;
}

/* main content */
#main {
	width: calc(100% - 2em);
  min-height: 20em;
	background-color: rgba(236, 240, 241, 0.8);
  margin: 1em;
  padding: 1.5em;
  box-sizing: border-box;
  border-radius: 0.25em;
  box-shadow: 0 0 2em rgba(52, 73, 94, 0.5);
}
#wrap {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    background: url(https://i.imgur.com/BgWhHqw.jpg) no-repeat center center fixed;
}

/* footer */
#foot {
    min-height: 12.5em;
    width: 100%;
    background-color: rgba(44, 62, 80, 0.8);
    color: rgba(236, 240, 241,1.0);
    margin: 0;
    padding: 2.5em;
    text-align: right;
    box-sizing: border-box;
    box-shadow: 0 0 2em rgba(52, 73, 94, 1.0);
}
#up {
    background-color: transparent;
    border: none;
    display: block;
    float: left;
    text-decoration: underline;
}
